doctype html
html
  head
    meta(name="viewport",content="initial-scale=1.0, user-scalable=no")
    meta(charset="UTF-8")
    block title
        title
    //- script(type='text/javascript',src='./js/plugins/jquery.1.24.min.js')
    link(rel='stylesheet',type='text/css',href='./static/styles/reset.css')
    script
      |var _hmt = _hmt || [];(function() {var hm = document.createElement("script");hm.src = "https://hm.baidu.com/hm.js?af2a997bf277b34dd1e25b033eef188c";var s = document.getElementsByTagName("script")[0];s.parentNode.insertBefore(hm, s);})();
    block style
  body

    block content

    block script